# dependencies
node_modules/

# production builds
dist/
dist-ssr/

# local env files
.env
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor/system noise
.DS_Store
Thumbs.db
.vscode/
.idea/

# vite cache
.vite/